[2015-08-13 21:10] Naios opened #1 "ToDo & Ideas"
- [ ] Continuable::operator&& to support "and" chaining.
- [ ] Continuable::operator|| to support "or" chaining.
- [ ] Continuable<>::toFuture()
- [ ] Parameter pass through with evaluation.
- [ ] Fail handler (exceptions & error codes)
- [ ] Options to define strategies

[2016-04-01 00:58] #1 closed

[2018-02-14 22:32] Naios opened #2 "Make all promise types non copyable"
Reminder for me, as above...

[2018-02-25 05:15] Inphi opened #3 "Continuations are unnecessarily copied"
This happens all the time when making and chaining continuables. It's a bigger problem when continuations have non-empty captures.

[2018-02-25 14:06] Naios commented on #3
Thanks for your report.

Could you give a concrete example (or better a concrete unit test)?
The library is designed to use move semantics heavily in order to avoid copies.
However, it is still possible that this isn't working as intended.

[2018-02-25 14:25] binarytom opened #4 "Coroutine support - promise.get_future()?"
First off, thank you for the library - the approach is a refreshing improvement over `std::future` and other options, and making it executor-agnostic was an excellent choice!

This is more of a question than an issue, but might lead to a doc/code patch eventually :smile:

In a85040b0c2d2936ec65a81bdebdea586e90b7159 a basic skeleton for `std::experimental::coroutine_traits` was added. However, this

[2018-02-25 15:05] Naios commented on #4
I'm glad that you like the library.

Yes you are absolutly right, currently it isn't possible to use continuables as return types from coroutines as shown below:

[code]

Which makes it only possible to await on continuables where the return type of the async function is `void` or a type for which `coroutine_traits` is specialized.

Currently, this part isn't under active development since I didn'

[2018-02-25 17:02] Inphi commented on #3
it's not an issue. I was unable to reproduce the issue once i created a simple example showing this. In my app, certain objects captured were move inhibited causing the entire continuation to be move inhibited as well.
Sorry for the inconvenience.

[2018-02-25 17:02] #3 closed

[2018-02-25 17:13] Naios commented on #3
Maybe you copied the promise, this would cause the whole continuation chain to be copied as well.
In the next major version promises will be move only in order to prevent such issues #2.

[2018-02-25 17:29] tom-binary commented on #4
Okay, good to know - and thanks for the quick response.

I'll have a go at some test cases this week. That initially-suspended approach seems feasible: will raise a separate PR if I get anywhere!

[2018-03-06 17:14] brano543 opened #5 "Need help - continuation keeps blocking"
Hello,
I am running event loop in 2 threads to process incoming request. I have tried to use your library to avoid blocking the socket while getting data from database. However even with the continuation, the thread is blocked during the full execution.
[code]
And then on my socket callback I write to a file and in last continuation once it is done I send reply back.
[code]

[2018-03-06 20:29] Naios commented on #5
From my point of understanding you intend that

is non-blocking during the execution of the continuation chain.
This is only possible if your database API calls are asynchronous too, otherwise they will block the current thread by design.
In order to make this work you would need to execute your query asynchronously and call the promise once the query has finished.

For instance with a redis datab

[2018-03-06 21:30] ghost commented on #5
Thank you for your reply. I completely understand that the best way would be to run the calls to the DB asynchronously so that the thread can listen to another connection while processing the work from previous call. However with Oracle things are difficult,as there are only really low level calls in OCI library to do this and this would add so much complexity to the whole thing. So I have read so

[2018-03-06 21:42] Naios commented on #5
The Seastar engine works through CPU bound threads which are running lights fibers on them.
Probably they are doing the same as decribed above since a waiting future will suspend the current fiber instead of the current thread. Basically this won't help you out with your particular issue.

Continuable completely isn't thread or execution engine bound and thus is just an abstraction over a callback

[2018-03-06 21:45] Naios commented on #5
Ah `static h2o_generator_t generator = {NULL, NULL};` probably this is dangerous because this isn't threadsafe.

[2018-03-06 22:47] ghost commented on #5
Probably they are doing the same as decribed above since a waiting future will suspend the current fiber instead of the current thread.

So if I understand correctly, so even with multiple fibers I would be still blocking the thread like I do now, right? This seems to make only sense if all the jobs run inside are async operations ?

Do I have to write it from the scratch or could you give some re

[2018-03-06 22:49] Naios commented on #5
Yes I think so.

You could use boost::asio for that

[2018-03-06 23:19] #2 closed

[2018-03-07 09:11] ghost commented on #5
Okay and about your example
[code]
Do I understand correctly that this will print
[code]
So basically what your library does is to handle the callback of asynchronous call, so that the main loop will continue and the "then" clause gets executed after the async callback has finished?

[2018-03-07 10:01] Naios commented on #5
Depends on the scheduling. The async call finished might be executed before ending loop

[2018-03-08 13:28] Naios commented on #5
I'll close this since the original issue seems to be resolved.
If you have any further questions open a new ticket please.

[2018-03-08 13:28] #5 closed

[2018-03-08 13:29] Naios commented on #4
@binarytom did you made any progress on this?

[2018-03-14 10:10] #4 closed

[2018-03-14 10:11] Naios commented on #4
@binarytom I fixed this in be657109. Sadly this wasn't possible without any type erasure.

[2018-07-26 10:09] zerodefect opened #6 "Explicit return types for cti::make_continuable<>()"
@Naios

I appreciate that continuable has been written making heavy use of type erasure.  That is not my problem per-se. The part I'm struggling with is how to explicitly define the return type as specified by ct::make_continuable. What is the type?

[code]

- OS: Linux via Ubuntu 18.04
- Compiler and version: GCC 7.3
- Standard library (if non default): Default (glibc)

[2018-07-26 17:19] Naios commented on #6
Basically `cti::make_continuable` returns an unknown (non erased) object which type depends on the result and on the callable object which is passed to `cti::make_continuable`.
The benefit of this technique is that we avoid type erasure until really needed because subsequent calls to `then` won't allocate any memory while being in a non type erased state.

In your example code your **lambdas need

[2018-07-26 19:46] zerodefect commented on #6
Thanks for your assistance, Denis. That was very helfpul.

I've got some simple code to compile, but I'm now trying a few more difficult things and running into difficulties on how it ought to be solved.

I'm trying nest tasks/continuations. I've written a very loose example of what I'm trying to achieve (probably does not compile).

[code]

Now, you're probably thinking that I could load all of t

[2018-07-26 21:21] Rogiel commented on #6
@zerodefect Not the author, but on my little game engine I use this library and I load resources somewhat like this (coded from memory, code might not be 100% correct):

	cti::map_pack([](const std::string& file) {
		return cti::make_continuable<image>(
			[file](auto &&promise) {
				thread_pool.post(
					[file, promise = std::forward<decltype(promise)>(promise)]() mutable {
						std::move(prom

[2018-07-26 23:29] Naios commented on #6
@Rogiel great example, I like how you used `cti::map_pack` there, probably a `when_all` is missing after you've mapped every file name to a continuable:

[code]

I think this solution is quite good since it doesn't apply type erasure on the vector of continuables.

@zerodefect

Another solution would be to do it as following:

[code]

so in this case you also prevent the creation of a type erasure

[2018-07-28 17:12] #6 closed

[2018-11-12 11:27] HatefulMoron opened #7 "CMake files refer to CMAKE_SOURCE_DIR"
@Naios

-----

Changing the references inside `cmake/configure_macros.cmake` and `cmake/configure_compiler.cmake` from referencing `${CMAKE_SOURCE_DIR}` to `${PROJECT_SOURCE_DIR}` solves this issue for me.

CMAKE_SOURCE_DIR points to the parent project (my project), whereas PROJECT_SOURCE_DIR points to the correct continuable directory.

I'm not completely sure if this is intended, hence I'm creat

[2018-11-12 12:01] Naios commented on #7
Thanks for reporting this issue, could you create a corresponding pull request for it?

[2018-11-12 12:27] HatefulMoron commented on #7
Will do, was just checking I wasn't missing something

[2018-11-16 10:18] HatefulMoron opened #9 "Missing failure chaining support"
@Naios

-----
To better support my asynchronous operations, I would like to create a wrapper on my asynchronous chain to release a mutex regardless of the outcome of the chain, for example;
[code]
To accomplish this, I wrote a supporting type `invariant_unlock` which looks similar to:
[code]

Unfortunately, using the class doesn't work, in fact I can't figure out how to chain together failure clau

[2018-11-17 11:10] #7 closed

[2018-11-17 11:24] Naios commented on #9
Thank you for your your request.

As described by the documentation you are right, that the asynchronous control flow ends after the first error handler was called and this would need to be changed at the libraries side.
So the behaviour you are trying to accomplish is currently not possible:
Instead you could also store some kind of a RAII wrapper into the chain which will
release the mutex on de

[2018-11-17 12:45] HatefulMoron commented on #9
Hey,

I figured out that RAII method you alluded to in the meantime and it seems to work perfectly for my particular case.

Thanks for your work, I'll read through the slides you linked.

[2018-11-20 11:57] Rogiel commented on #9
I would like to second this. Chaining failures is a feature that I would very much appreciate too. In the current design, there is no way to represent the following pattern (in synchronous code):

[code]

If we catch the exception (through the `fail` continuation) we can no longer propagate the error to caller, which makes it much harder to properly handle errors and maintain internal object state

[2018-11-25 10:47] koraa opened #10 "Feature Request/Question: zero-allocation support"
Thanks for your great library; I am excited to finally see proper promises in C++ :D
Now to my question: Would it be possible to support environments in which allocation is not an option? Under which conditions are allocations mandatory at the moment?

[2018-11-26 02:14] Naios commented on #10
Hey, I'm glad that you like the library.
Continuable does an allocation in following two circumstances:

- When using type erased objects like `continuable<...>` or `promise<...>`
- When using a connection between continuables (`when_all`...)

Probably it would be possible to store the promises of an unknown type in a preallocated space,
so you could ellide the memory allocation completely when de

[2018-11-26 10:54] koraa commented on #10
Thanks for your quick response :)
I am still trying to wrap my head around the library…

In my use case I just wouldn't use type erasure, so that would be fine, but the connections using allocation would be a problem in an allocation-free application…
Thanks for the infos anyways :)

[2018-11-26 10:54] #10 closed

[2018-11-28 17:54] Naios commented on #9
This requested feature is now fully implemented in the `devel` development branch,
and will make it into the next major or minor update. See https://github.com/Naios/continuable/commit/4d58e3bded32585c12be7f3a59ad8599e929f3df.

It is possible to change the continuation path through `recover(...)`, `rethrow(...)` or `cancel()` when returning a `cti::result<...>` from a continuation or failure handl

[2018-11-28 19:51] Rogiel commented on #9
Thank you @Naios. The implementation is really good and I have already integrated it! No more variant-like wrapping and unwrapping!

[2018-12-11 00:21] #9 closed

[2019-01-03 15:02] Rogiel opened #11 "Forward declarations are no longer allowed in type-erased continuables"
Hello @Naios

Somewhere after `4d58e3b` `Ts` in cti::continuables<Ts...> can no longer have types with a forward declaration when declaring the continuable as a return type in a function call.

[code]

This simple statement compiles fine with `4d58e3b` but fails in the current `master` branch.

-----

### Commit Hash

Working fine in `4d58e3b`, not working in `master`.

### Expected Behavior

A he

[2019-01-03 15:14] Rogiel commented on #11
The same problem occurs with the latest `AppleClang` compiler.

[2019-01-03 20:53] Naios commented on #11
Thank you for your bug report, I'll take a look into this.

[2019-01-04 13:18] Naios commented on #11
The issue is fixed in c066940, note that function2 was updated to v4.0.0 and requires an update too.
The bug was that the signature of the type erasure wrapper was dependent on the size of the forward declared type, a unit test was added to prevent this bug in the future.

[2019-01-29 06:31] mailagentrus opened #12 "Add conan recipe"
@Naios

-----

Is it possible to add conan (https://conan.io/ C++ open source package manager) recipe and publish on bintray? It will be really helpful for other depelopers. For example: third party developer can add

`[requires]
continuable/3.0.0@naios/stable`

to own project without any source compilation. If you @Naios want I'll try to prepare basic recipe for win/linux/mac and will prepare pul

[2019-01-29 19:30] Naios commented on #12
I added a non intrusive conan file which only provides the continuable headers and imports function2 as dependency for the header only mode. CMake targets are not provided yet.
The package is currently only available as `continuable/3.0.0@naios/testing` which reflects the current git revision because 4.0.0 is not fully stable yet and I don't want to backport the conan file changes to the 3.0.0 tag

[2019-01-30 20:03] furkanusta opened #13 "unit-test/test-continuable-single fails on gcc 8.2"
@Naios

unit-test/test-continuable-single results in segmentation fault on gcc 8.2
Also tested with clang++ 7.0 and it passes, and it looks like gcc6 on Travis also passes thus I am not sure if it is a compiler regression or something like an undefined behavior (I will update the post after testing with gcc-trunk)

Output of running the tests (successfull tests are ommitted):

I also got several w

[2019-01-30 20:45] Naios commented on #13
Seems like a compiler regression, I'll take a look into this.

[2019-01-30 20:48] furkanusta commented on #13
By the way I've just tested with gcc 9.0.1 (20190123) and I got

Also gcc 8.2 passes the tests on Debug mode if that helps

[2019-01-30 21:09] Naios commented on #13
I could also reproduce this on GCC 8.2 in release mode as you described on Ubuntu 18.04.
The `flat-variant` uses some optimization based on `NDEBUG` but disabling those doesn't solve the issue.
I'll take a look into this.

[2019-01-30 23:02] Naios commented on #13
It seems that this is a compiler bug indeed which could be related to https://gcc.gnu.org/bugzilla//show_bug.cgi?id=60165 :

**/O3** triggers the warnings:
[code]

whreas **/O0** does not when the other flags stay equal:
[code]

[2019-04-26 02:50] bennywhipple opened #14 "how do you convert a variadic function with callback to a continuable?"
@Naios

I would like to convert a function with the following signature into a continuable:

typedef void (CallbackFn)(struct CallbackContext *, void *, void *);
int async_call(const char *param, CallbackFn cb, void *privateData, const char *qformat, ...);

The closest example I've found is the promisify::from example in the tutorial but promisify wants the callback to have a different signature.

[2019-04-26 10:19] Naios commented on #14
It seems that your callback is using the technique used by libuv such that you have to specify a callback with a fixed signature that allows you to pass a custom argument through a `void*` pointer, which is then castable to your private data (the continuable promise in this case).
For the continuable library this isn't an ideal case because you will have to move the promise to the heap as followin

[2019-04-26 20:58] bennywhipple commented on #14
Perhaps I'm wrong, but my impression is that your framework is aimed at efficient type/memory management and Asio's interface is more suited to this than the one I'm using.. so I will take a look at it. Thanks for your help.

[2019-04-26 21:12] #14 closed

[2019-05-14 20:29] Warchant opened #15 "Status of the codebase"
@Naios

Hi. Your library looks wonderful for our use case.

1. Do you think a codebase is mature enough to be used in production environment?
2. What is the status of 4.0.0? There is no release tag for this version.

[2019-05-15 02:12] Naios commented on #15
Hey,
I'm glad that you like the library.

Currently there are no bugs known to me except the current issue #13 about a GCC 8+ internal compiler error (which needs a rewrite of the internally used variant implementation, in order apply a workaround for this). I'm using continuable successfully in a personal project of mine, and so far, there was no issue for me. Others are using continuable as well

[2019-05-15 09:33] Warchant commented on #15
Thank you for the answer.
Gonna add this lib to [hunter](https://hunter.sh) pretty soon :)

[2019-05-15 13:11] #15 closed

[2019-05-23 20:10] Warchant opened #16 "Add AppleClang compiler to cmake"
@Naios

https://github.com/Naios/continuable/blob/master/cmake/configure_compiler.cmake#L24

[code]
This enables AppleClang compiler.

-----

### Commit Hash

d842c142685f4758fa3487126b5e68d4edf6fcf2

### Expected Behavior

Can be compiled with AppleClang

### Actual Behavior

Can not :(

### Your Environment

- OS: OSX
- Compiler and version: AppleClang 10.0.1.10010046

[2019-05-24 00:33] #16 closed

[2019-05-24 16:46] Warchant commented on #13
With g++9.1.0 also fails.
[code]

[2019-06-14 04:18] libaineu2004 opened #20 "Compile error in VS2015/VS2017"
@Naios

###
If I use Platform toolset VS2017,Compile error:
\continuable-3.0.0\include\continuable\continuable-types.hpp(54): error C2923: "fu2::function_base": For the parameter "Capacity", "Size" is not valid Template type variable
Continuable-3.0.0\include\continuable\continuable-types.hpp(53): error C2974: 'fu2::function_base' : template is invalid for 'Capacity' and should be type

If I chang

[2019-06-14 16:36] Naios commented on #20
The MSVC 2017 build works on the [AppVeyor CI](https://ci.appveyor.com/project/Naios/continuable/builds/25284873) works and this issue probably is related to your build environment.

Platform toolset VS2015 is not supported due to the MSVC requirements as stated in the [installation section of the documentation](https://naios.github.io/continuable/installation.html).
[code]

[2019-06-15 01:29] libaineu2004 commented on #20
ok, Now I am using the amalgamation header v3.0, it can be compiled normally, thank you!

[2019-06-15 09:17] Warchant opened #21 "Infinite recursion during compilation"
Hi @Naios

Our team develops https://github.com/soramitsu/kagome/ in C++17. We decided to use continuable instead of callbacks to simplify our code.

We integrated latest master (42af23f) and started to refactor interfaces.

Me and my team mate (separately) run into the same problem of infinite recursion during compilation.
We both use latest Mac OS, latest CLion for development, same compiler (`A

[2019-06-15 10:54] #20 closed

[2019-06-15 17:09] Rogiel commented on #21
@Warchant, I ran into the same issue a while back. This is a bug in Clang and it has been already fixed (in Clang).

I remember that I managed to find a workaround for it, but sadly I do not remember what it was. I believe this was fixed in Clang 7.0. You could install Clang 7+ using Homebrew or another package manager and use a newer Clang without this bug. It's a bit sad how slow Apple is when u

[2019-06-15 21:03] Naios commented on #21
Thanks @Rogiel for your help on this.
@Warchant could you test whether updating Apple Clang to version 7 fixes your issues then?
Often a workaround for such an issue is to spell out auto types for instance `auto&& promise` -> `cti::promise promise` but this has a negative performance effect.

[2019-06-16 07:38] Warchant commented on #21
@Naios

1. clang-8.0.0_1 - problem persists.
[code]

2. AppleClang 10.0.1 - problem persists
[code]

![image](https://user-images.githubusercontent.com/1867551/59560977-da768900-9022-11e9-9d8a-e741da711864.png)
![image](https://user-images.githubusercontent.com/1867551/59560985-ebbf9580-9022-11e9-9c1f-75204e7ef337.png)
... and grows 3-5 GB every few seconds

[2019-06-16 12:11] Warchant commented on #21
Explicit types solved the problem

[code]

[2019-06-16 20:12] Naios commented on #21
I will take a look into this if I have some spare time. The issue probably isn't severe if this can be fixed through concrete types. Also it might be that this isn't related to this library at all and caused by a compiler bug.

[2019-06-28 09:47] invexed opened #22 "Reusable continuation chains"
Thanks for this fantastic library @Naios. The amount of work you must have put into the documentation is really appreciated.

I'm wondering whether reusable continuation chains are a planned feature, or indeed whether your implementation even permits such a thing? If it is possible, could you please give a brief summary of what would need to be done/how it should be approached? I'd be interested i

[2019-06-28 11:16] Naios commented on #22
I'm glad that you like the library and especially the documentation which took a lot of effort indeed.

I thought about reusable continuation chains before and the core library is well suited for such an implementation, when putting connections aside.

Currently the plain callback interface looks like this:

[code]

Because the library treats continuiables as a use once object the continuation cha

[2019-06-29 09:43] invexed commented on #22
Thanks for your detailed reply; it will be very useful. I'll report back here with my progress (though it likely won't be for a couple of months).

I was hoping to implement connections for ```channel```s too, but you hinted above that it's not possible. What is currently blocking the implementation of connections between ```channel```s?

[2019-06-29 17:52] Naios commented on #22
Basically the `when_seq` and `when_all` connection are the difficult ones. `when_any` is probably tirivial to implement.
The issue will be to cache multiple results of many channels and then dispatch them to the waiting channels in order. The difference to the use once chain is that many connection frames with different progresses can wait on the next result of one channel.

[code]

[2019-07-29 17:47] Rogiel opened #23 "VS 16.2: parameter pack must be expanded in this context"
@Naios

Visual Studio 16.2 has introduced a bug with parameter pack expansions and this is affecting continuable.

[code]

### Workaround
Removing the second template parameter on line 135 and the third parameter on line 148 seems to work around the issue.

This seems to be a MSVC bug when expanding `std::declval<Args>()...` expressions.

-----

### Your Environment

- OS: Windows 10
- Compiler an

[2019-07-29 18:14] Naios commented on #23
Thanks for your report. Could you provide a PR please, which applies the suggested fix?

[2019-07-29 18:27] Rogiel commented on #23
Yes, I can. But it's not really a fix, just a workaround/hack that disables the `wrap` signature check (done via`void_t`). I have tried to create a concise reproducible test case in which MSVC fails to compile (to report it to Microsoft) but no luck :(

[2019-09-02 06:09] IronsDu opened #25 "Hi, How to span one coroutine ?"
@Naios

-----

### Commit Hash

{Please write here}

### Expected Behavior

{Please write here}

### Actual Behavior

{Please write here}

### Steps to Reproduce

{Please write here}

### Your Environment

- OS: {Please write here - Windows/Linux dist/OSX}
- Compiler and version: {Please write here - MSVC/Clang/GCC/Other}
- Standard library (if non default): {Please write here}

[2019-09-02 06:12] IronsDu commented on #25
Straight start one async operation？And use co_await in it's lambda ？Thank you.

[2019-09-02 13:25] Naios commented on #25
Hey,
if I understood you right, you can do something like the following:
[code]
If that doesn't help you, try to explain your question more in detail please, since it's difficult for me to get the actual question out of your two sentences. Maybe you could provide an example what you are trying to accomplish, so I can understand your actual use case better.

[2019-09-03 02:06] IronsDu commented on #25
Thank you for reply me. my questions is :

1. How to write the async parameter lambda ?
2. I want simple convert my async call to sync call. for example:, look here : https://github.com/IronsDu/gaylord/blob/master/temp_dep/redis_client/RedisClient.h#L195. (it use ananas::Promise). Ofcause, I prefer  want use coroutine, it's better more.
3. I compiler continuable failed in VS 2019.  `make_range_loo

[2019-09-03 15:29] Naios commented on #25
Probably it is better for you to retrieve the promise callback from continuable as following:
[code]

For further guidance please take a look at the documentation.

Because of the VS 2019 build issue please open another issue with a reproducable example that yields the error you mentioned above.

[2019-09-11 23:49] Naios commented on #25
Since there was no further activity on this issue I'm marking it as resolved.
If you encounter any new bugs or questions open a new issue please.

[2019-09-11 23:49] #25 closed

[2019-09-29 07:11] Naios commented on #23
This was fixed in 92d8bbad368a385fc94b775abe385dcf67af04c9

[2019-09-29 07:11] #23 closed

[2019-11-21 15:50] G10h4ck opened #26 "cti::promisify + ASIO = compilitation error"
@Naios

I am trying to use continuable along with non-boost ASIO library, my understanding about async, and template programming is not comparable with yours, and I haven't been successful up until now, so I have been fiddling with the examples but I get compiler error I haven't been able to solve.

so in my class I have this members

[code]

then I have been defining some methods, one of them alm

[2019-11-22 14:39] Naios commented on #26
Hey, did you set `CONTINUABLE_WITH_NO_EXCEPTIONS` or `CONTINUABLE_WITH_CUSTOM_ERROR_TYPE` as described in https://naios.github.io/continuable/configuration.html? By default continuable uses `std::exception_ptr` as `cti::exception_t` and needs to be configured to use a custom value error type like `std::error_condition` through a preprocessor define.

[2019-11-22 15:30] G10h4ck commented on #26
I have set `CONTINUABLE_WITH_NO_EXCEPTIONS` but not `CONTINUABLE_WITH_CUSTOM_ERROR_TYPE` should I set that too?

[2019-11-22 15:36] Naios commented on #26
`CONTINUABLE_WITH_NO_EXCEPTIONS` will set `cti::exception_t` to `std::error_condition`.

What I would suggest is that you outcomment your solution step by step to narrow the error source:

[code]

[2019-11-22 21:04] G10h4ck commented on #26
The line triggering the error is apparently just this one `mControlSocket.async_connect(std::forward<decltype(args)>(args)...);` commenting that compilation is successful. Even commenting the other two and leaving only that one there the compilation fail.

[2019-11-22 23:46] Naios commented on #26
Did you take a look at the example with the standalone boost? it looks quite similar https://github.com/Naios/continuable/blob/master/examples/example-asio/example-asio.cpp and I don't see any issue with your code from the continuable side, are the `async_connect` parameters correct?

[2019-11-24 20:06] G10h4ck commented on #26
I have wrote that code looking at the example you pointed, sadly the example fails compiling too http://dpaste.com/3W219QC

[2019-11-24 20:20] Naios commented on #26
```/home/gio/Builds/continuable/examples/example-asio/example-asio.cpp:62:9: error: ‘io_context’ in namespace ‘asio’ does not name a type``` this should be present in the version which is set as test dependency. in the example. Also the example is built in the CI ans should definitly be buildable as shown by [latest CI builds](https://travis-ci.org/Naios/continuable/jobs/591026587?utm_medium=notif

[2019-11-25 10:20] G10h4ck commented on #26
Thanks for pointing this out! So it end up being the very simple problem of having an old ASIO version ( 1.10.8 ) installed on my system, while the one shipped as dependency is ( asio-1-12-0-184-g0a52abce ) so I have upgraded my system version to latest available in my distro ( 1.14.0 ) and now it compile without complains. As usual compiler error messages when making big use of C++ meta-programin

[2019-11-25 10:20] #26 closed

[2019-11-26 16:01] cstratopoulos opened #27 "First class, zero-overhead ASIO integration"
@Naios

You may remember a long while back you and I e-mailed about the possibility of a first-class ASIO integration for continuable. This was not possible at the time due to
1. eager initiation of the async op
2. need to specify explicitly the `return_type` of a continuation chain, therefore requiring type erasure.

In boost 1.70 requirement 1. was lifted, see the 2nd bullet on the 1.70 release:

[2019-12-04 21:57] Naios commented on #27
I saw your issue quite late, sorry.
From my point of view there there is still no possibility to make the `async_result` zero overhead since the new form as stated by the history:

[code]

still makes `return_type` only dependent on the signature and the completion handler but not the initiating args itself (And doesn't explicitly state that it is not required anymore although the implementation m

[2019-12-04 22:13] Naios commented on #27
But it seems that this is the intended behaviour now and `return_type` is not needed by now for C++14 although it is not explicitly stated by the docs:

https://github.com/boostorg/asio/commit/77b14fff7f63ca69fbb80e6a9fe97ff56f661a43

per-operation return type deduction. For C++11 or earlier, a completion
token's async_result specialisation must still provide the nested
typedef `return_type`.

[2019-12-04 22:33] cstratopoulos commented on #27
Yeah sorry if that was unclear! These changes are going into Boost 1.72 and currently merged to standalone ASIO, but the revision history has yet to be updated to reflect this. But yes the commit message you've found describes the future state of affairs.

You are right about `use_cti_t`, it can be in any namespace we would like.

And that is a good point about passing the error code as `auto`, an

[2019-12-04 22:55] Naios commented on #27
We probably can forward declare it for both namespaces:

[code]

and then lift our general implementation into both of those namespaces, this could make it possible to make it available for both asio's while not depending on either of both.

[2019-12-04 23:14] cstratopoulos commented on #27
I was looking into that possibility too, but I think it could create issues. In https://github.com/boostorg/asio/blob/develop/include/boost/asio/async_result.hpp, there is a fair bit of configuration handling to determine what the declaration will look like, whether it will be declared as a conventional class template or a constrained template with C++20 concepts, so we cannot reliably get an accu

[2019-12-04 23:38] Naios commented on #27
You are right, the forward declaration is not possible due to this and also probably considered evil.
The library contains a "depending" header already for gtest: https://github.com/Naios/continuable/blob/master/include/continuable/continuable-testing.hpp

The ideal solution I could think about is to move those headers into:

- include
  - continuable
    - support
      * asio.hpp
      * gtest.h

[2019-12-04 23:47] cstratopoulos commented on #27
Good point about checking `ASIO_STANDALONE`, I think you are right. The support folder sounds like a good idea to me, and indeed there's no need for `continuable/continuable.hpp` to include `asio.hpp`.

It sounds like we've resolved the questions and clarified the approach to take, so I should be ready to get started on a PR tomorrow. If you like I can move `gtest.hpp` when I'm doing that too, jus

[2019-12-04 23:50] Naios commented on #27
Yes that would be great if you could also move `gtest.hpp`. For the implementation part you might create a corresponding `include/continuable/detail/support` directory also. Thanks for your effort and also keeping track of the asio changes. I didn't noticed any changes because https://github.com/chriskohlhoff/asio/issues/380 wasn't probably noticed or updated by the author of asio.

[2019-12-12 19:34] honzchen commented on #21
The problem persists even if the types are explicitly specified as follows:

[code]

[code]

[2019-12-12 19:52] Naios commented on #21
@eldenchen Can you give more details about your affected environment? (compiler and toolchain version)?

[2019-12-12 19:56] honzchen commented on #21
[code]

[2020-03-12 23:37] p4654545 opened #29 "Conan not found in remote-center"
@Naios

Conan fails to find the continuable package in conan-center.

-----

### Commit Hash

Don't understand what to write here...

### Expected Behavior

The following command should find continuable in the central repository:

`conan search continuable --remote=conan-center`

### Actual Behavior

### Steps to Reproduce

Make sure Conan is installed, then run:

[code]

### Your Environment

- O

[2020-03-13 03:54] Naios commented on #29
There should be a package currently available in conan: https://bintray.com/naios/continuable/continuable%3Anaios (not the latest revision though)

Probably I'm going to disontinue support on conan since it consumes too much time to curate the library on any external package manager. The library is header only and without any build dependency, it can easily be included as git submodule or copied i

[2020-04-03 07:17] DarthBo commented on #27
This looks very interesting! Has any progress been made?

[2020-04-03 15:20] Naios commented on #27
@DarthBo All in all the PR of @cstratopoulos is almost finished.
I'll pick it up and complete it to merge it into the master soon.

[2020-04-03 16:00] cstratopoulos commented on #27
Hello :) sorry for dropping the thread on this. My work on the PR fell at an awkward time near the end of one job and between the start of another. @Naios please don't hesitate to ping if there are any questions or ASIO gotchas I can try and help with in wrapping up what's done so far

[2020-04-04 16:42] #27 closed

[2020-04-04 16:46] Naios commented on #27
@cstratopoulos No worries. I really appreciate your contribution and it really helped me to bring this feature in, especially the research about supported asio versions and the compatibility to standalone asio and boost asio is a big feature!

@DarthBo I've finished the PR #28 accordingly and it is available now in the current master branch.
See the asio example file for various asio integration c

[2020-04-04 17:35] Naios commented on #21
I've found the problem that caused this issue:

The library triggers a static_assert correctly if a callable can't be called with a subset of its arguments but it seems like this is not enough to stop clang causing the generation
of a 0 - 1 -> std::size_t::max length index sequence which obviously causes infinite work.

I've specialized the code such that the generation of an infinited index seque

[2020-04-04 18:07] endseeker opened #30 "tutorial code does not compile"
@Naios

this code from "Connecting continuables" dosnt compile under Visual studio 2019. error is "attempting to reference a deleted function". I think you are missing a std::move() when calling cti::when_all()

// cti::populate just creates a std::vector from the two continuables.
auto v = cti::populate(cti::make_ready_continuable(0),
                       cti::make_ready_continuable(1));

for (

[2020-04-04 18:13] Naios commented on #30
Did you try to move the vector into `when_all`?
Continuable follows strict move on invalidation semantics and thus the copy constructor and copy assign operator is deleted.

[code]

[2020-04-04 18:14] endseeker commented on #30
yes, std::move(v) works.

[2020-04-04 18:23] DarthBo commented on #27
Woah, that was insanely fast, thanks! I’ll start playing around with this right away :)

[2020-04-04 18:29] Naios commented on #30
Perfect, was the code without the move somewhere in the documentation and needs a correction?

[2020-04-04 18:46] endseeker commented on #30
yes, its here toward the bottom:
https://naios.github.io/continuable/tutorial-connecting-continuables.html

[2020-04-05 14:35] #21 closed

[2020-04-05 14:35] #13 closed

[2020-04-05 14:35] #30 closed

[2020-04-07 19:33] Gei0r opened #31 "Amalgamation for 4.0.0"
@Naios

Congratulations on release 4.0.0, the changes look really useful. Get's a feeling of javascript's `Promise` and `async/await` into C++!

Anyway, can you please provide an amalgamation for release 4.0.0 and link it in the documentation?

[2020-04-07 20:21] Naios commented on #31
Thanks, I generated a new amalgamation for 4.0.0: https://gist.githubusercontent.com/Naios/25d731aa4707d35a9bcec507f3cb9038/raw/051d2ea07b6704893c7fc9844e8d1c105c6821e0/continuable.hpp

I'm going to link it into the documentation.

[2020-04-07 20:31] #31 closed

[2020-04-07 20:48] Naios commented on #31
Just as note: The amalgamation header only contains the headers that require the C+ standard library and function2 which is included as part of the header. The `include/continuable/external/` headers which extend (boost) asio and GTest are not included.

[2020-04-08 08:12] Gei0r opened #32 "How to get error code when using use_continuable with asio"
@Naios
-----

### Commit Hash
`61826817c7716cec5e476a68f679d9347891bba7`

### Expected Behavior

`std::exception_ptr` parameter to `.fail()` captures the error when using `use_continuable` with boost asio

### Actual Behavior

The `std::exception_ptr` is `null`.

### Steps to Reproduce

[code]

Output: `fail! pe: false`

### Your Environment

- OS: Linux (Ubuntu focal)
- Compiler and version: clan

[2020-04-08 13:00] Naios commented on #32
continuable maps `asio::error::basic_errors::operation_aborted` to a default constructed `exception_t` (`std::exception_ptr` in your case) which signals cancellation of one of the previous tasks as shown below:

https://github.com/Naios/continuable/blob/61826817c7716cec5e476a68f679d9347891bba7/include/continuable/detail/external/asio.hpp#L118-L129

The reasons for this behaviour is that:

1. The d

[2020-04-08 16:35] Gei0r commented on #32
I think it's important to know "what happened" in the `fail()` handler.
If a default-constructed `exception_ptr` as `fail()` parameter *always* means "operation aborted" or other "cancelled by the user / by the program itself" than I think it's OK. But it needs to be clearly documented.

That was the first thing I did to try out the `fail()` handler and the result was unexpected 😉

[2020-04-09 09:23] Gei0r commented on #32
I don't think it can stay the way it currently is, because this leads to disaster:

[code]
Output:
[code]

[2020-04-09 13:27] Naios commented on #32
Thanks for your feedback, the `co_await` expressions when applied to a `continuable_base` wasn't able to handle the default constructed exception type as of now. I bridged this through throwing a `await_canceled_exception` which gets converted to a default constructed exception type again if  being left unhandled in the coroutine.

Through that your code fully succeeds correctly:

[code]

[2020-04-10 16:01] Gei0r opened #33 "How to start continuable eagerly"
@Naios

TLDR: Is there a way to get eager continuable invocation for async code like in javascript?

A common use pattern of async code is this (javascript):

[code]
Output:
[code]
Because the background work (1 s, 2 s, and 3 s) were all started before the foreground calculation (5 s), the whole program ran only 5 s.

Now I'm trying to replicate the same with C++ and continuable, using the same st

[2020-04-10 17:06] Naios commented on #33
In that case it is not really possible to convert the execution to an eager one, however it is possible to do the following:

[code]

Which yields the following output:

Starting background work...
Starting background work...
Now doing some expensive calculations...
Calculations done
background work done
background work done
background work done
all done

The trick here is that `when_all` requests

[2020-04-10 19:33] Naios commented on #32
I addressed this issue in multiple bugfix commits: 744809d8f and 8187c16ede for instance, if you have any furter issues with the completion token open a new issue please.

Also I've added the `use_continuable_raw` token which passes the asio result without any mapping to the user.

[2020-04-10 19:33] #32 closed

[2020-04-12 10:12] Gei0r commented on #33
Could you add a method to continuable to start processing without consuming the awaitable? This way one could replicate the javascript behavior.

[2020-04-12 17:11] Naios commented on #33
This is not possible with the design of this library.
You would have to switch to a `future` implementation which is implemented on the basis of a shared state.

[2020-04-16 20:47] Naios commented on #33
It seems like this issue was resolved.
If you have any further questions or issue reports open a new ticket please.

[2020-04-16 20:47] #33 closed

[2020-05-27 08:21] zulfisegnatii opened #34 "when_seq gives error on VS2019"
@Naios

VS2019. Simple example for cti::when_seq from cti::continuable github page gives the following error:

Sample code:

`
	cti::when_seq(0, 1, cti::make_ready_continuable(2, 3), 4, 5)
		.then([](int r0, int r1, int r2, int r3, int r4)
		{
			// ...
		});
`

`
inc\continuable\continuable/detail/core/base.hpp(143): error C2327: 'cti::detail::connection::connection_finalizer<cti::detail::connect

[2020-05-27 13:08] Naios commented on #34
Thanks for your report. I'll check that out.

[2020-07-02 07:54] IceflowRE commented on #29
https://github.com/conan-io/conan-center-index/pull/2076

[2020-08-10 09:52] zulfisegnatii commented on #34
Any update on this?

[2020-08-10 16:19] Naios commented on #34
Your code builds for me on: Microsoft Visual Studio Community 2019 - Version 16.6.4 (latest as today on f57c5898ebfa2aa9fd52dfcd86454fe2a3cdfd57)
Which MSVC 2019 version are you using?

[2020-08-23 16:49] Naios commented on #34
It seems like this Issue got resolved. If you think it is still valid open a new ticket please.

[2020-08-23 16:49] #34 closed

[2020-08-25 16:42] zhensydow opened #35 "Simple example does not execute THEN block on Linux"
@Naios I have tried a simple test but the continuation block is not executed (the part inside `then()`).

-----
### Actual Code
[code]
### Compiler Options
[code]

### Actual Output
[code]

### My Environment
- OS: Linux Mint 20
- Compiler and version: GCC 9.3.0

[2020-08-25 18:38] Naios commented on #35
You always need to resolve the promise with a result or exception in order to continue.

[code]

or

[code]

Probably you also want to run the blocking wait on a dedicated thread, otherwise you block the main thread and then you don't need to use the continuation anyway. The promises are mostly designed for asynchronous APIs such as boost::asio that accept a callback and resolve it later.

[2020-08-26 07:36] zhensydow commented on #35
Thanks. Now it works. I was confused because my first test was a continuation without parameter as:
[code]

But calling seT_value without parameters also works.

[2020-08-26 07:36] #35 closed

[2020-08-27 03:38] wenqzheng opened #36 "CONTINUABLE_WITH_UNHANDLED_EXCEPTION"
@Naios

Hello,
    when I apply a continuable_base to_future(),"Illegal instruction" happens! Then I find it's something about CONTINUABLE_WITH_UNHANDLED_EXCEPTION. Now, I'm confused about CONTINUABLE_WITH_UNHANDLED_EXCEPTION. Why this happen? Thanks!

-----

### Commit Hash

{Please write here}

### Expected Behavior

{Please write here}

### Actual Behavior

{Please write here}

### Steps to Rep

[2020-08-27 16:30] Naios commented on #36
Your issue is **missing important information** such as:
- A minimal reproducible example
- A detailed description of what you have tried to accomplish
- The actual behaviour and which behaviour you have expected

Please make sure to fill the required fields of the issue template.
Otherwise your issue can't be processed, thank you in advance.

Also make sure to link against `pthread` on linux.

[2020-09-02 18:59] Naios commented on #36
Since there was no further activity on this issue I'm marking it as resolved.
If you encounter any new bugs or questions open a new issue please.

[2020-09-02 18:59] #36 closed

[2020-09-22 18:29] p4654545 opened #37 "g++ 9/10 compile error on std::variant<cti::work>"
@Naios

This concerns g++ 9.3.0 and 10.0.1

Using cti::work within a variant leads to a compiler error in "struct assert_wrong_copy_assign" in function2.hpp.

Using std::is_copy_constructible_v makes the compiler happy.

-----

### Commit Hash

Latest

### Expected Behavior

No compiler error

### Actual Behavior

I get this error from g++-9:

/root/.conan/data/function2/4.1.0/_/_/package/5ab84d6a

[2020-09-22 18:32] p4654545 commented on #37
my code got ruined, another try:

`#include <continuable/continuable.hpp>
#include \<variant\>

void foo() { std::variant\<cti::work\> t; }`

[2020-09-22 18:33] p4654545 commented on #37
reopen

[2020-10-15 21:55] p4654545 commented on #37
It resembles this gcc bug

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=90415

[2020-10-25 10:35] p4654545 commented on #37
Would you accept a pull request on function2 which replaces std::is_copy_constructible by std::is_copy_constructible_v  in function2.hpp?

[2020-10-25 11:19] Naios commented on #37
function2 is a C++14 lib and `std::is_copy_constructible_v` is C++17.  Probably it is possible to provide a custom `is_copy_constructible` based on SFINAE when building with GCC for which I would accept a PR.

[2020-11-03 14:25] p4654545 opened #38 "Possible data race involving set_promise() & sys::transforms::wait()"
@Naios

Almost every time I run the program it will hang in the .apply(cti::transforms::wait()). Thread sanitizer also detects and reports a data race.

The compile command is in the README.
[continuable-bug.tar.gz](https://github.com/Naios/continuable/files/5481821/continuable-bug.tar.gz)

-----

### Commit Hash

Latest.

### Expected Behavior

Execute the loop 20000 times.

### Actual Behavior

[2020-11-03 14:49] Naios commented on #38
Could you re-test your issue with a thread safe queue from cameron314/concurrentqueue?

- https://github.com/cameron314/concurrentqueue/blob/master/concurrentqueue.h
- https://github.com/cameron314/concurrentqueue/blob/master/blockingconcurrentqueue.h

What is your thread sanitizer reporting exactly?

[2020-11-03 15:12] p4654545 commented on #38
moodycamel::BlockingConcurrentQueue is what I use in the real application. I don't have time right now to modify the code.

Output from thread sanitizer is attached.

Just executing the single command in README and then ./a.out will also give the thread sanitizer output.

[thread_sanitizer_output.txt](https://github.com/Naios/continuable/files/5482112/thread_sanitizer_output.txt)

[2020-11-03 16:05] p4654545 commented on #38
Version using moodycamel::BlockingConcurrentQueue

[continuable-bug-moodycamel.tar.gz](https://github.com/Naios/continuable/files/5482483/continuable-bug-moodycamel.tar.gz)

[2020-11-03 16:13] Naios commented on #38
I could reproduce it with Clang 10 and found the issue. It is indeed a race condition that happens when the waiting thread encounters a spurious wake up between https://github.com/Naios/continuable/blob/f57c5898ebfa2aa9fd52dfcd86454fe2a3cdfd57/include/continuable/detail/transforms/wait.hpp#L93-L94

The `condition_variable` is then notified and destroyed at the same time (or something like this).

[2020-11-03 16:15] p4654545 commented on #38
Important note:

Because of using a `std::variant<cti::work,...>` I had to change line 1425 of function2.hpp from:

`std::is_copy_constructible<std::decay_t<T>>::value `

to

`std::is_copy_constructible_v<std::decay_t<T>>`

[2020-11-03 16:28] Naios commented on #38
Could you test whether https://github.com/Naios/continuable/commit/6bffb44d2bcca4989945e4d76ce8d35cf8cdcebd fixes your issue?

[2020-11-03 19:20] p4654545 commented on #38
Thread sanitizer is not complaining anymore and both the repro scenario and the application behave correctly now. Thank you!

[2020-11-04 12:05] #38 closed

[2020-12-13 20:21] noisypants opened #39 "Continue-on-fail support - allowing chains to continue with a value even after a fail?"
@Naios
Hello.  Nice work with this library.  it's been fun integrating it into our traditional callback flows.

I am wondering if there's any support to continue-on-fail?  Something similar to `recover` in Scala futures?    Basically handling an exception and allowing the chain to continue with a value or re-throwing the exception for the next `fail `handler to be triggered?  I have use-cases wher

[2020-12-14 06:01] Naios commented on #39
[`cti::recover`](https://naios.github.io/continuable/group___base.html#gacdc6a77a2ff98dabd7a2e9dc8c461934)  and [`cti::rethrow`](https://naios.github.io/continuable/group___base.html#ga9223cf1a04ca2d6950d83d0917192fa5) are fully supported to change the current error state as described in the documentation. Those functions return a [`cti::result`](https://naios.github.io/continuable/classcti_1_1res

[2020-12-14 14:49] noisypants commented on #39
awesome!  thanks.  I missed that in the docs.  I will give that a shot.

[2020-12-14 16:43] #39 closed

[2021-01-23 16:16] IceflowRE opened #40 "Example slideshow returns 134"
@Naios

-----

### Commit Hash

6bffb44d2bcca4989945e4d76ce8d35cf8cdcebd / [4.1.0](https://github.com/Naios/continuable/releases/tag/4.1.0)

### Expected Behavior

Return code is 0.

### Actual Behavior

Return error code 134.

### Steps to Reproduce

Execute example [Slideshow](https://github.com/Naios/continuable/blob/master/examples/example-slideshow/example-slideshow.cpp).

### Your Environmen

[2021-04-30 14:35] weidonglian opened #41 "Customized error type"
First I really enjoy this great library and really nice work! It did solve the callback hell with asio.
Since we have no coroutine available whatsoever, continuable probably is now the best we can achieve.

1. Regarding the customized error, i.e. cti::exception_t.

[code]

In the callback's excetion_t has to implement operator bool which is not so portable and could be confusing,e.g. absl::Status

[2021-05-05 09:14] weidonglian opened #42 "cancellation/abortion feature support"
I am digging into the library more and more and really appreciate and enjoy it!
One feature which is missing now is that how to cancel the chained pipeline.
Inside the pipeline (both in the promise callback and corresponding then-result-handler) we can call promise.set_exception or return cancel() to terminate the chained pipeline or stop() it which is really good.
How to abort or cancel from outs

[2021-05-30 19:09] noisypants opened #43 "Question - Convenience with using executors"
@Naios
Hello.
I am trying to use custom executors to push the work on to specific thread.  I have this working atm.  However, I am trying to make it more convenient to use.

I will try to demonstrate what I would like to do with your examples.
In order to push the work to the right queue, I am capturing the identifier of the queue in the executor.
[code]
This is working for me.   I am however curi

[2021-05-30 20:12] Naios commented on #43
Hey,

sure it should be possible.
Maybe you can progress further on your solution if you rewrite your code like this?:

[code]

[2021-05-31 00:21] noisypants commented on #43
nice!  that worked!  thanks for the quick response.

[2021-05-31 00:21] #43 closed

[2021-06-16 17:01] Naios commented on #41
Sorry that I'm answering late. I don't get notified for arbitrary issues in this reposity unless I get notified (which is explicitly said in the issue template you deleted).

I'm glad that you like the library. I think the best solution is a trait that can be specialized by the user for specific types:

[code]

I'm open for accepting a pull request that implements this specialization.

[2021-06-16 17:08] Naios commented on #40
I could not reproduce your issue. Also the slideshow was just created for screenshotting purposes and is not run as part of the regular tests.
Additionally the [documentation](https://naios.github.io/continuable/installation.html) states that GCC 6+ is required by the library.

[2021-06-16 17:08] #40 closed

[2021-06-16 17:17] Naios commented on #42
I see that cancellation is one of the features that would improve this library significantly.
However, its implementation is not trivial since we would need to create another side channel to pass a possible cancellation upwards to the continuation chain. This creates a non-neglectable overhead, and therefore, the presence of this feature also affects users that don't use it.

A workaround to the n

[2021-10-19 20:44] Spongman opened #44 "question: is_continuation<> and asio::strand::post"
I have some existing code that `post`s synchronous methods to a boost `strand` in order to queue their execution on a thread pool. However, in order to reduce the number of waiting threads, i'd like to convert these methods to `continuable`-returning coroutines. I have all the asio i/o calls asyncronized via `cti::use_continuable`, but what I'm trying to work out is whether or not posting a corout

[2021-10-19 20:45] Spongman commented on #44
@Naios sorry, just atting you here since you mentioned before you didn't get notified.

[2021-10-20 05:43] Naios commented on #44
@Spongman I think it is difficult to answer your question without having a minimalistic example provided of what you are trying to accomplish.
As far as I understand your question, you are trying to dispatch a continuable coroutine or continuation from an asio strand.

If the coroutine can be invoked from anywhere, it is possible to suspend the coroutine and invoke it from within the strand.

[cod

[2021-10-20 05:55] Spongman commented on #44
sorry, i should have been clearer about wha i'm trying to do.

i'm actually starting with code that looks something like this:

[code]
which is obviously bad because it's blocking not only the strand, but the underlying context thread.

and i'd like to turn it into something like this (handwaving):

[code]

which ideally, while blocking the strand, would not block the underlying thread.

if i coul

[2021-10-22 06:02] Naios commented on #44
Ok, i see your issue. However asio should provide an initiation token for `post` and derivates that can be awaited.
Independent of that I changed the `use_continuable` initation token such that it also now can be used on post:

[code]

This should make it possible to turn your example into:

[code]

or

[code]

[2021-10-23 06:00] Spongman commented on #44
ok, that is pretty amazing. it looks like it works perfectly and the `co_await strand.post` thing makes it even simpler to use than i had imagined!

[2021-10-26 07:07] Naios commented on #44
It seems like this issue was resolved.
If you have any further questions or issue reports open a new ticket please.

[2022-02-07 18:58] rkonklewski-am2m opened #46 "Stopping a continuable in a failure handler makes wait() hang forever"
First of all, thanks for this great library @Naios! I really appreciate all the work you've put into it!

In some parts of my project I need to resolve a continuation chain synchronously and get its result. The most obvious way of doing that is applying the `cti::transforms::wait()` transform. While it seems to work most of the time, I discovered two scenarios, in which it would hang the wait fore

[2022-02-09 14:56] Naios commented on #46
I'm glad that you like the library @rkonklewski-am2m.

I will have a look at this problem, probably it won't be hard to reproduce it with the test cases you provided.

This might take some time though, as working on this library is not my highest priority at the moment, so I would also highly appreciate a pull request.

[2022-05-15 13:20] yaoyuan1216 commented on #46
I found the reason is a failed void continuable would not invoke following callbacks (shown below), as a result the `ready` in `wait_relaxed` would never be changed to true.
`template <typename... Args, typename T>
void invoke_void_no_except(identity<exception_arg_t, Args...>,
                           T&& /*callable*/) noexcept {
  // Don't invoke the next failure handler when being in an except

[2022-05-15 13:31] yaoyuan1216 opened #47 "Return value from fail handler crash the program."
@Naios

-----

### Expected Behavior

Finish normally.

### Actual Behavior

Crashed at `CTI_DETAIL_TRAP();` in macro `CONTINUABLE_HAS_EXCEPTIONS`.

<img width="506" alt="image" src="https://user-images.githubusercontent.com/9252990/168475466-0193753d-70f7-4311-8c5f-576d6df6ae5c.png">

### Steps to Reproduce

    make_exceptional_continuable<int>(supply_test_exception())
                   .fail([

[2022-05-16 06:08] Naios commented on #47
`CTI_DETAIL_TRAP` is platform implemented and will lead to this behaviour dependent on your platform:

[code]

The implementation of this macro aligns with the way how LLVM is handling traps.

The greater issue here is that the unhandled exception handler is called although you provided a handler in fail,
however I was not reproduce this since your code runs fine for me:

[code]

Additionally this

[2022-05-16 13:58] yaoyuan1216 commented on #47
@Naios yeah, you are right. I neglected one line code.
`auto continuable = make_exceptional_continuable<void>(supply_test_exception());`
 So sorry!

[2022-06-01 23:01] #46 closed

[2022-06-01 23:02] Naios commented on #46
I fixed this issue in https://github.com/Naios/continuable/commit/b51be39e7126c397cec9d13fefdfa3cbbe8291f0, thank you for your report.

[2022-06-25 11:14] standardexe opened #49 "Trigger failure within continuation without using exceptions"
Hi @Naios,

I'd like to use this library in a project where we don't use exceptions.
I can of course set an error using a promise, but is it somehow possible
to have error logic in a normal continuable, like so:

[code]

Or is there maybe some other pattern I could use?

Thank you very much for all your work!

[2022-06-25 12:46] Naios commented on #49
Hey, the library supports error handling without exceptions by definining `CONTINUABLE_WITH_NO_EXCEPTIONS` and `CONTINUABLE_WITH_CUSTOM_ERROR_TYPE`, take a look at https://naios.github.io/continuable/configuration.html.
It is possible to define a custom error type that can be returned from any continuation by using `rethrow`.

[2022-06-25 19:40] standardexe commented on #49
That's a quick answer, thank you :-) Maybe my initial example was a bit too vague. I figured out that I can customize the error type. However, this is what I'm currently trying to do, which gives me a compilation error:

[code]

gcc 10.2.1 tells me following:
[code]

So really my question is if this pattern can be supported by continuable in any way or if I'm just using it wrong and there is anoth

[2022-06-25 21:19] Naios commented on #49
Well, you cannot return different types from a function, thats what the error is complaining about. Try returning `cti::result<int>` like:
[code]

[2022-06-26 20:45] standardexe commented on #49
Ah, `cti::result`. Somehow I overlooked this. Thank you!

[2022-06-26 20:45] #49 closed

[2022-08-12 08:47] rkonklewski-am2m commented on #46
Thank you! In the end I opted to use timed waits, so this issue became a low priority. However, there are a lot of places where a simple `wait` would be much more convenient. I'm surely going to utilize this fix in the future.

[2022-09-02 11:34] rkonklewski-am2m opened #50 "Failed assertion when giving make_exceptional_continuable() to when_seq()"
Hi, @Naios!

It seems I found another issue: `when_seq()` connection operator can't deal with ready exceptional continuables (i.e. created by `make_exceptional_continuable()`). It doesn't have the same problem with lazy exceptional continuables. Moreover, `when_all()` and `when_any()` operators don't have the problem at all. Neither does the chaining operator (`>>`).

To me this is a corner case a

[2022-09-02 12:35] rkonklewski-am2m opened #51 "MSVC 2019 build error in cti::detail::transforms::wait_relaxed()"
Hi, @Naios!

Found another one ;)
MSVC 2019 seems to have a problem constructing `cti::detail::transforms::unsafe_unlocker` with initializer list syntax inside `cti::detail::transforms::wait_relaxed()`.

To fix it, there needs be a constructor such as the following:
[code]
-----

### Commit Hash

4.2.0 release

### Expected Behavior

No build errors.

### Actual Behavior

[code]

### Steps to Repr

[2022-09-02 12:36] rkonklewski-am2m commented on #51
I first thought it was a compiler bug, but it also reproduces with gcc 12.2, which is an entirely different compiler. See https://godbolt.org/z/KTd6qG3es

[2022-09-03 18:00] Spongman opened #52 "boost::beast::ssl_stream doesn't accept cti::use_continuable"
@Naios

[code]

it works fine with other boost & beast APIs.

### Commit Hash

6bffb44d2bcca4989945e4d76ce8d35cf8cdcebd (4.1.0 release)

- OS: CentOS7
- Compiler and version:  gcc (GCC) 10.2.1 20210130 (Red Hat 10.2.1-11)
- boost 1.77.0 release

[2022-09-03 18:07] Spongman commented on #52
I notice that the deduction for `async_handshake` is different than that for, say, `async_connect`

[code]

vs.

[code]

that's all a little beyond me.

that doesn't explain, however, why it works for `use_future` and not `use_continuable`.

[2022-09-03 21:32] Naios commented on #51
Thanks for your report, could you open a PR with your suggested fix?

[2022-09-03 21:36] Naios commented on #50
Thanks for your report, all chaining operations are optimized for ready continuables and probably the issue originates from there. I will take a closer look into it. `when_all` and `when_any` use a different traversal code than `when_seq` so it's reasaonable that these operations are not affected by this bug.

[2022-09-03 22:22] Naios commented on #52
Thank your for your report. I was able to reproduce this issue (on boost 1.80). I'm not entirely sure yet, what is causing this.

[2022-09-03 22:51] Naios commented on #52
I found the reason for this issue:

Since boost:::asio 1.72 or asio (standalone) 1.16 the `async_result` trait used for creating the promise type does not require a fixed type anymore. Before that we had to return a fixed type independent of the promise initiation. This makes it possible to return a non-allocating continuable that depends on the promise Initiation.

See
[code]

The `async_handshak

[2022-09-05 08:33] rkonklewski-am2m commented on #51
Done. I did some more digging. It was invalid C++20 syntax after all. Interestingly, it was valid C++17. C++20 changed the requirements for aggregate types.

[2022-09-05 09:41] #51 closed

[2022-09-20 22:35] Spongman commented on #44
btw: i just noticed that the docs for `async` and `async_on` are missing. they appear in search & the changelog, but the page linked to doesn't contain anything.

[2022-09-22 06:50] Spongman commented on #36
I just ran into this and it's caused by allowing unhandled exceptions to leak out of the end of your coroutine chain. this can be avoided by adding final `.fail()` clause to trap these unhandled exceptions.

[2022-09-22 07:28] Naios commented on #36
@Spongman could you open a separate ticket for this issue please?

[2022-09-22 07:32] Spongman commented on #36
I don't actually think it's an issue in the library. I was just using it wrong (not handling all exceptions correctly), and that was what was causing the Illegal Instruction (which is triggered by `CTI_DETAIL_TRAP()`) and I wanted to add comment to this issue in case anyone else ran into the same thing.

[2022-10-22 20:05] nextsilicon-itay-bookstein opened #54 "Homogeneous container remapping code fails for some containers"
Hi, @Naios !

Thanks for making `continuable`, it's a neat library!

I passed an `absl::InlinedVector<T, N, A>` to `cti::when_all()`, and to my surprise the continuables in it did not get connected to the hierarchy. Investigating further revealed that because of a substitution failure deep inside the container-remapping code, the code degraded from using the container logic to using the plain-valu

[2022-10-25 18:42] ibookstein commented on #54
I went and discussed this issue with a colleague, and these are the points I'd like to argue :)

1. There's no robust general container-agnostic way of rebinding containers, even when trying to look beyond https://en.cppreference.com/w/cpp/named_req/Container + `C::allocator_type`-if-present. The current implementation basically makes the following two assumptions, if I understand it correctly:

[2022-10-26 11:32] Naios commented on #54
Hi @ibookstein ,
I'm glad that you like my library.

I fully agree with you reproduction as well as your second argumentation.

1. It probably would be better to provide a point for customizing the remappper e.g. through a trait.
2. You are right, routing objects though, which are not remapped by default, can lead to potentially dangerous results if the user does not take attention to the input. H

[2022-10-26 15:06] tom-seddon opened #55 "Confusing error regarding `result` from VC++ when making a continuable from a lambda that captures a variable called `result`"
@Naios

Using Continuable 4.1.0

Code:

[code]

Got a confusing error from VC++ about `result` not being a type:

[code]

In the end I tracked this down to captured variables in msvc apparently giving their lambda's type member variables of the same name. So `result` is a member variable on the base class for `proxy_continuable` in this case.

This feels like a msvc problem - looks like clang and

[2022-10-26 16:12] Naios commented on #55
Hey,
awesome reproduction!

This looks like a critical compiler bug indeed and you might want to report it to MSVC directly.
Additionally you could open a thread on https://www.reddit.com/r/cpp,
maybe someone from the MSVC team or someone with deeper knowledge of the MSVC internals could elaborate on it there.
Definitly seems like a bug worth elaborating about, because it has a larger impact.

For

[2022-11-05 08:23] Spongman opened #56 ""There is no way to call the given object with these arguments""
@Naios

It looks to me like the documentation is suggesting that this is possible:

[code]

but i get this:
[code]

-----

### Commit Hash

4.1.0 6bffb44d2bcca4989945e4d76ce8d35cf8cdcebd

- OS: {Please write here - Centos7
- Compiler and version: gcc 10.2

clang 15 on godbolt gives the same error.

[2022-11-05 08:36] Spongman commented on #56
sorry, just a typo, ignore this...

[2022-11-05 08:36] #56 closed

[2022-11-05 18:11] Spongman commented on #31
can we get one for `4.1.0` ?

I would also prefer it if the headers used relative includes so it's use was not dependent on a `-I` compiler flag, or env var, eg.:

in `continuable_base.hpp`:
[code]

[2022-11-05 22:41] Naios commented on #31
If you like, you can create an amalgamation that fits your needs:

I think it uses this tool: https://github.com/edlund/amalgamate

The shell script is located in: `tools/amalgamate/amalgamate.sh`

Simply running this script should be enough to create the header, you can tweak it to fit your needs afterwards.

[2022-11-07 20:26] Spongman opened #57 "redundant move in return statement"
@Naios

I get the following when building the current master branch (using cmake). I get the same thing when building my own code using the library, with optimizations enabled:

[code]

-----

### Commit Hash 63e3ed4edccfc3bcc3c8ceb12b857432eb4ee9a3

### Steps to Reproduce

[code]

[2022-11-09 14:49] geiseri opened #58 "How do you run final cleanup with a chain?"
@Naios

I am currently using https://github.com/xhawk18/promise-cpp and would like to move to continuable since I am using native asio.  One thing that is holding me back is the `Promise::finally(FUNC_ON_FINALLY on_finally)` method.  I use this because I need to have a few cleanup operations that can only run after the entire chain has been resolved.  I was having issues finding a way to make this

[2022-11-09 22:16] Naios commented on #58
@geiseri Could you maybe provide a code example what you have tried so far?

[2022-11-12 02:22] geiseri commented on #58
This is the original code:   My issue is that this chain resolves at a future time and I need `inst` to live on.
[code]

I got this far, but it crashes with `inst` going away somewhere along the way.

[code]

If I pull the `inst` out of the function and pass it in, it works just fine, but the goal of the method in the first place was to hide the `registry.get(...)` part from the public API.   I th

[2022-11-15 18:57] Spongman commented on #58
could it be that you're allowing the `cti::continuable` returned from `getResponse` to be destroyed prematurely? how are you calling `getResponse` ?

[2022-11-15 21:13] geiseri commented on #58
It is when I am still in a `.then(...)` call.  Is that a different instance of the continuable?  Or is that different?  I was under the impression that `inst` would stay in scope until the resolution of the final handler in the chain.  That being said, it could be that there is another issue going on that was hidden by the `promise::Promise` implementation.

[2022-11-16 00:06] Spongman commented on #58
Not quite sure what you mean by this. It might be helpful to include more context to how you’re calling this function, and how you’re handling the lifetime of the continuable that it returns. There’s nothing wrong with the code you’ve shown here, so the error must be elsewhere.

Maybe put a breakpoint in your ‘inst’ object’s destructor and look at the stack trace.

A couple of other things:
- if y

[2022-11-16 07:22] Naios commented on #58
I second what @Spongman says. Tracing the destructor of your shared_ptr object through a debugger is probably your best option.

Additionally I have to add that the callable that you pass to `then`, `fail`, or `next` stays valid until it can be potentially called, but not post that. Callables are destructed in generally immediatly when they are no longer needed for the chain.

So if you require yo

[2022-11-17 20:57] Spongman opened #59 "compile error with clang 14"
@Naios

I have been using gcc10 on centos7, and that has been working fine, but i just tried clang on ubuntu, and i'm getting this error:

[code]

I tried both libstdc++ & libc++, same error.

I also found it odd that I needed to explicitly include `<coroutine>`...

-----

### master

### Your Environment

- OS: Ubuntu 22.04

[2022-11-18 12:16] Naios commented on #59
Thanks for your report, can you check whether coroutine support is detected in https://github.com/Naios/continuable/blob/master/include/continuable/detail/features.hpp ?
Is it possible that clang 14 still might require a compiler flag to enable coroutines?